/* fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-bold.woff2") format("woff2"),
    url("../fonts/ptsans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Global*/
.page-body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #eeeeee;
  position: relative;
}
.page-wrap {
  background-color: #ffffff;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 0 15px rgba(0, 1, 1, 0.2);
  position: relative;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.field-reset {
  margin: 0;
  padding: 0;
  border: none;
}
.container {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.button {
  border: none;
  padding: 8px 34px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.3s;
  cursor: pointer;
  font-family: "PT Sans";
}
.button--brown {
  background-color: #756157;
}
.button--brown:hover {
  background-color: #615048;
}
.button--brown:focus {
  background-color: #615048;
}
.button--brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.button--blue {
  background-color: #82b3d3;
}
.button--blue:hover {
  background-color: #68a2ca;
}
.button--blue:focus {
  background-color: #68a2ca;
}
.button--blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}
.main-header {
  padding: 0 70px;
  display: grid;
  grid-template-columns: 138px 1fr 88px 160px;
  gap: 20px;
  align-items: center;
  position: relative;
  z-index: 1;
}
.main-header__logo {
  display: block;
  width: 138px;
  height: 64px;
}
.navigation__list {
  display: flex;
  margin-left: 10px;
}
.navigation__item {
  padding: 20px 15px;
}
.navigation__link {
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  position: relative;
}
.navigation__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: -21px;
}
.navigation__link:hover::after {
  background-color: #756257;
}
.navigation__link--active::after {
  background-color: #756257;
}
.navigation-user__link {
  display: block;
  width: 20px;
  height: 20px;
}
.navigation-user--search {
  background: url(../img/search.svg) no-repeat;
}
.favorite {
  background: url(../img/heart.svg) no-repeat;
  position: relative;
}
.favorite__number {
  position: absolute;
  top: -12px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #7d854f;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.navigation-user {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.main-banner {
  height: 485px;
  padding: 50px 0 82px;
  background: url(../img/welcome-bg.jpg) no-repeat;
  text-align: center;
  position: relative;
}
.main-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  background: url(../img/welcome-decor.png) no-repeat;
  left: 0;
  bottom: 0;
}
.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 652px;
  margin: 0 auto 20px;
  text-align: center;
}
.main-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 652px;
  text-align: center;
  font-weight: 400;
}
.main-advantages__title {
  margin-bottom: 25px;
}
.main-advantages {
  padding-top: 70px;
}
.main-advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}
.main-advantages__item {
  width: 400px;
  height: 385px;
}
.main-advantages__item:first-child,
.main-advantages__item:last-child {
  width: 100%;
  position: relative;
  justify-content: flex-start;
}
.advantages-card {
  text-align: center;
  background-color: rgba(131, 179, 211, 0.1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.main-advantages__item:first-child .advantages-card__img {
  right: 0;
}
.main-advantages__item:last-child .advantages-card__img {
  left: 0;
}
.main-advantages__item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-card__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 30px;
  margin: 0 0 30px;
  position: relative;
  max-width: 175px;
}
.advantages-card__title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.advantages-card__text {
  max-width: 230px;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}
.main-advantages__wrap {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.advantages-card--blue {
  background-color: #82b3d3;
  color: #ffffff;
}
.advantages-card--blue .advantages-card__title::after {
  background-color: #ffffff;
}
.main-features__title {
  max-width: 505px;
}
.main-features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 64px;
}
.features__item {
  padding: 183px 85px 80px;
  position: relative;
  text-align: center;
}
.features__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.1);
}
.features-list__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.features-list__text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}
.features__item:first-child {
  background: rgba(131, 179, 211, 0.1) url(../img/house.svg) no-repeat center
    80px;
}
.features__item:nth-child(2) {
  background: #ffffff url(../img/burger.svg) no-repeat center 80px;
}
.features__item:last-child {
  background: rgba(131, 179, 211, 0.1) url(../img/gift.svg) no-repeat center
    80px;
}
.main-features {
  padding-top: 64px;
}
.main-form {
  padding: 96px 0;
}
.main-form__button {
  padding: 8px 50px;
  display: block;
  margin: 54px auto 0;
  font-size: 20px;
  line-height: 36px;
}
.main-subcribe {
  padding: 96px 0 104px;
  text-align: center;
  background: url(../img/form-bg.jpg) no-repeat;
  color: #ffffff;
}
.main-subcribe__desc {
  max-width: 475px;
}
.subcribe-form__wrap {
  display: grid;
  justify-content: center;
  grid-template-columns: 452px 232px;
}
.subcribe-form__wrap input {
  width: 452px;
  height: 52px;
  border: none;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 0 20px;
  border-radius: 4px 0 0 4px;
}
.subcribe-form__button {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
}
.main-subcribe__form {
  margin-top: 54px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
  background-color: #ffffff;
}
.footer__social {
  width: 142px;
}
.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.social-list__link {
  display: block;
  height: 40px;
  padding: 13px 11px;
}
.social-list__item:first-child .social-list__link {
  background: url(../img/vk.svg) no-repeat center center;
}
.social-list__item:nth-child(2) .social-list__link {
  background: url(../img/tg.svg) no-repeat center center;
}
.social-list__item:last-child .social-list__link {
  background: url(../img/tube.svg) no-repeat center center;
}
.footer__phonewrap {
  width: 331px;
}
.footer__phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}
.form-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 3;
  display: none;
}
.form-wrap__block {
  width: 100%;
  max-width: 717px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 64px 70px;
  box-shadow: 0px 0 15px rgba(0, 1, 1, 0.15);
  position: absolute;
  z-index: 5;
  top: 396px;
  left: 50%;
  transform: translateX(-50%);
}
.form-wrap__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 64px;
}
.form-wrap__close {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: #f2f2f2 url(../img/close.svg) no-repeat center;
  border: none;
  padding: 0;
  position: absolute;
  right: 52px;
  top: 64px;
}
.form__item {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  gap: 0 24px;
  margin-bottom: 48px;
}
.form__calendar {
  width: 16px;
  height: 15px;
  padding: 0;
  border: none;
  position: absolute;
  right: 17px;
  background: url(../img/date.svg) no-repeat;
  top: 50%;
  transform: translateY(-50%);
}
.form__item input {
  width: 100%;
  height: 48px;
  border: none;
  padding: 0 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.form__input {
  position: relative;
}
.form__text {
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  top: calc(100% + 4px);
  left: 20px;
  width: 100%;
}
.form__text--red {
  color: #ff5757;
}
.form__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
input::-moz-placeholder {
  color: #000000;
}
input::-webkit-input-placeholder {
  color: #000000;
}
input:-ms-input-placeholder {
  color: #000000;
}
.form__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 88px;
}
.input-number {
  display: flex;
}
.input-number__item {
  width: 40px;
  height: 48px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.input-number__item--munus {
  background: #f2f2f2 url(../img/minus.svg) no-repeat center;
}
.input-number__item--plus {
  background: #f2f2f2 url(../img/plus.svg) no-repeat center;
}
.input-number input {
  width: calc(100% - 80px);
  padding: 0;
  text-align: center;
}
.form__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #82b3d3 url(../img/tool.svg) no-repeat center;
  padding: 0;
  border: none;
  cursor: pointer;
}
.tooltip__text {
  position: absolute;
  width: 256px;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  font-family: "PT Sans";
  border-radius: 10px;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.tooltip:hover .tooltip__text {
  display: block;
}
.tooltip__text::before {
  content: "";
  position: absolute;
  top: -9px;
  width: 19px;
  height: 9px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/triangle.svg) no-repeat;
}
.form__button {
  width: 100%;
  padding: 18px 34px;
  font-size: 20px;
  border-radius: 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
